STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_LIGHT=
STRIPE_PRICE_PRO=
STRIPE_PRICE_MAX=
STRIPE_PRICE_EINZELKAUF=
STRIPE_PRICE_KAUFCHECK=
STRIPE_PRICE_VERKAUFSCHECK=
STRIPE_PRICE_PLUS=
FRONTEND_URL=
